.App {
  text-align: center;
	
	// background-color: rgb(201, 201, 201);
	.LoginForm{
		width: 400px;
		margin: 0 auto;
    padding: 100px;
	}
	.Aside{
		width: 100%;
		height: calc(100vh - 64px);
		.Chats{
			width: 100%;
			height: 100%;
			overflow: hidden auto;
			.ChatItem{
				padding: 0;
				&-Link{
					width: 100%;
				}
			}
			.ChatItem_active{
				background-color: cornflowerblue;
			}
		}
	}
	.Main{
		.WrapperPageChat{
			height: 100%;
			.PageChat{
				color: white;
				width: 100%;
				height: 100%;
				overflow: hidden auto;
				display: flex;
				flex-direction: column-reverse;
			}
			.InputMessage{
				height: 100px;
			}
		}
		
		

		.BackgroundPage{
			width: 100%;
			height: 100vh;
			background: url("img/20518677.jpg") center center/cover no-repeat;
		}
	}
}




